= javascript_include_tag "/campaign.js"

- if @campaign.respond_to?(:errors)
  %ul
  - @campaign.errors.each do |e|
    %li= e

:css
  #campaignForm input { width: 60%; display: inline; }
  #campaignForm textarea { width: 60%; display: inline; }
  #campaignForm .alert-danger { display: inline; padding: 5px; }

- url = "/cpanel/campaigns" + (@campaign.id ? "/#{@campaign.id}" : "")
- form_for @campaign, url, id: "campaignForm", class: "form-horizontal", role: "form" do |f|
  = f.hidden_field :user_id
  = f.hidden_field :colnum

  .form-group
    = f.label "名称", class: "col-lg-2 control-label"
    .col-lg-10
      = f.text_field :name, class: "form-control require", placeholder: "活动名称"
      %span.hidden.alert.alert-danger

  .form-group
    = f.label "描述", class: "col-lg-2 control-label"
    .col-lg-10
      = f.text_area :desc, class: "form-control", placeholder: "活动简介"
      %span.hidden.alert.alert-danger

  .form-group.add-column
    .col-lg-4.col-lg-offset-2
      =link_to "添加字段", "javascript:void(0);", class: "btn btn-default", style: "",  onclick: "Campaign.addColumn();"

  .form-group
    .col-lg-4.col-lg-offset-2
      = f.submit "提交", class: "btn btn-primary"

.modal#columnConstraint
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %h4.modal-title 字段约束
      .modal-body
        %form{:role => "form"}
          .form-group
            %label 数据类型
            %select.form-control{style: "width: 200px;"}
              %option 整型/浮点型
              %option 字符串
          .form-group
            %label 约束关系 
            %br
            %select.form-control{style:"width:100px;display:inline-block;"}
              %option &gt;
              %option &lt;
              %option &gt;=
              %option ==
              %option !=
            %input.form-control{type: "text", style: "width: 100px;display:inline-block;"}
            %a.btn.btn-default.btn-sm.btn-danger{:href => "javascript:void(0);", :onclick => "Campaign.addColumnConstraint(this);"}
              %span.glyphicon.glyphicon-minus
          .form-group.add-column
            =link_to "添加约束", "javascript:void(0);", class: "btn btn-primary", style: "",  onclick: "Campaign.addColumnConstraint();"
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close


:javascript
  $(function() {
    Campaign.inputMonitor();
    return $("input").bind("change keyup input", function() {
      return Campaign.inputMonitor();
    });
  });
  
