= javascript_include_tag "/campaign.js"

- if @campaign.respond_to?(:errors)
  %ul
  - @campaign.errors.each do |e|
    %li= e


%form{role: "form", action: @form_path, method: "post", id: "campaignForm"}
  %input{:name => "campaign[user_id]", :type => "hidden", :value => "#{@campaign.user_id}"}
  %input{:name => "campaign[colnum]", :type => "hidden", :value => "#{@campaign.colnum}"}

  .form-group
    %label{:for => "name", style: "min-width:55px;"} 名称*
    %input#name.form-control.require.name{:placeholder => "name", :type => "text", :name => "campaign[name]", :value => "#{@campaign.name}", style: "width:60%;display:inline;"}
    %span.hidden.alert.alert-danger{style: "display:inline;padding:5px;"}

  .form-group
    %label{:for => "desc", style: "min-width:55px;"} 描述
    <textarea class="form-control" rows="3" name="campaign[desc]" style="width:60%;display:inline;">#{@campaign.desc}</textarea>
  .form-group.add-column
    %label{:for => "desc", style: "min-width:55px;"}
    =link_to "添加字段", "javascript:void(0);", class: "btn btn-primary", style: "",  onclick: "Campaign.addColumn();"

  :javascript
    $(function() {
      Campaign.inputMonitor();
      return $("input").bind("change keyup input", function() {
        return Campaign.inputMonitor();
      });
    });
    
